.input {
    padding: 1rem 1.5rem;
    border: 1px solid var(--border-color);
    background-color: transparent;
    border-radius: 1rem;
    color: var(--primary-text);
}

.inputWrapper {
    position: relative;
    width: 100%;
}

.icon {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    left: 1rem;
    top: 1rem;
    pointer-events: none;
    z-index: 2;
}

.small {
    padding: 0.75rem 2.4rem;
}

.medium {
    padding: 1rem 3.2rem;
}

.large {
    padding: 1.25rem 4rem;
}

.full {
    width: 100%;
}

.error {
    border-color: var(--error-color);
}

.inputWithIconPadding {
    padding-left: 3rem !important;
}

.input:focus,
.input:active {
    outline: none;
}