.formBlock {
    background-color: var(--lighter-primary-background);
    padding: 3rem 4rem;
    border-radius: 1rem;
    min-width: 30rem;
    margin-top: 4rem;
}

.formContent {
    width: 100%;
}

.tabContainer {
    border-bottom: 2px solid var(--border-color);
    outline: none;
    width: 100%;
}

.tabButton {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 1.4rem;
    width: 100%;
    border-bottom: 3px solid transparent;
}

.active {
    border-bottom: 3px solid var(--primary-color);
}