.button {
    padding:  0.75rem 0;
    border: 3px solid transparent;
    border-radius: 1rem;
    cursor: pointer;
}

.small {
    padding: 0.75rem 2.4rem;
}

.medium {
    padding: 1rem 3.2rem;
}

.large {
    padding: 1.25rem 4rem;
}

.full {
    width: 100%;
}

.primary {
    background-color: var(--btn-color);
    color: var(--primary-background);
}

.primary:hover {
    filter: brightness(0.9);
}

.primary:active {
    filter: brightness(0.85);
}

.secondary {
    background-color: var(--primary-background);
    color: var(--btn-color);
    border-color: var(--btn-color);
}

.secondary:hover {
    background-color: var(--btn-color);
    color: var(--primary-background);
    border-color: var(--btn-color);
}

.secondary:active {
    filter: brightness(0.85);
}

.loading {
    cursor: wait;
}