@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@200..700&display=swap');

:root {
  --lighter-primary-background: #FFFFFF;
  --primary-background: #F3F7FB;
  --darker-primary-background: #EBEDEF;
  --primary-color: #0c73fe;
  --text: #0f172a;
  --text-muted: #64748b;
  --lighter-primary-text: #a5afd2;
  --error-color: #ef4444;
    --border-color: #c2ccdc;

    --focus-ring: rgba(37, 99, 235, 0.25);

  --heading-font: 'Montserrat';
  --body-font: 'Inter';
  color: var(--lighter-primary-text);

  background-color: var(--primary-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-size: 1rem;
  font-weight: 500;
  font-family: var(--body-font);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.75rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25rem;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
  color: var(--text);
}

::-webkit-input-placeholder {
  color: var(--lighter-primary-text);
}
:-moz-placeholder {
  color: var(--lighter-primary-text);
  opacity:  1;
}
::-moz-placeholder {
  color: var(--lighter-primary-text);
  opacity:  1;
}
:-ms-input-placeholder {
  color: var(--lighter-primary-text);
}
::-ms-input-placeholder {
  color: var(--lighter-primary-text);
}

::placeholder {
  color: var(--lighter-primary-text);
}